.about ul {
	margin: 1rem 0 1.5rem 0;
	padding-left: 1.25rem;
}

.about li {
	margin-bottom: 0.75rem;
	line-height: 1.45;
}

.about h3 {
	margin-top: 2rem;
	font-size: 1.25rem;
	border-bottom: var(--border);
	padding-bottom: 0.3rem;
}
