---
import "../styles/styles.scss";

const { title = "Laurenz", description = "My Portfolio" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="canonical" href="https://www.website.com/" />
    <meta name="description" content={description} />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/assets/img/social.jpg" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Domine&family=Inter&family=Montserrat&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Antonio:wght@400;500;700&family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>

    <script>
      import "/src/scripts/main.js";
    </script>
  </head>

  <body>
    <!--Screen reader skip main nav-->
    <a class="lz-skip" aria-label="skip to main content" href="#lz-home"
      >Click To Skip To Main Content</a
    >

    <slot />
  </body>
</html>
